body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana,sans-serif;
    background-color: azure;
}
.menu-bar{
    width: 100%;
    background-color: aqua;
    margin-top: 20px;
}
.menu-bar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.menu-bar ul li {
    display: inline-block;
}
.menu-bar ul li a {
   /* display: block; */
   text-decoration: none;
   padding: 10px 20px;
   font-size: 16px;
   color: brown;
   transition: all 0.3s linear;
}
.menu-bar ul li:hover a {
    font-size: 20px;
    background-color: blue;
    color: burlywood;
}